<div class="form-group2">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card class="mat-elevation-z8">
      <div>
        <mat-form-field>
          <mat-label>numero documento</mat-label>
          <input
            maxlength="12"
            min="9"
            type="text"
            formControlName="numDoc"
            matInput
            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57))"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Marca</mat-label>
          <mat-select formControlName="marca">
            <mat-option *ngFor="let marca of marcas" [value]="marca.id">{{
              marca.nombre
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Comentarios</mat-label>
          <input
            type="text"
            maxlength="450"
            formControlName="comentarios"
            matInput
          />
        </mat-form-field>
      </div>
      <div *ngIf="!eliminar" style="width: 100%; text-align: center">
        <button type="submit" color="primary" mat-flat-button>Registrar</button>
      </div>
      <div *ngIf="eliminar" style="width: 100%; text-align: center">
        <button type="submit" color="warn" mat-flat-button>Eliminar</button>
      </div>
      <div style="width: 100%; text-align: center; margin-top: 1em">
        <button
          *ngIf="eliminar"
          type="button"
          [routerLink]="['../../', 'list']"
          color="primary"
          mat-flat-button
        >
          Volver
        </button>
        <button
          *ngIf="!eliminar"
          type="button"
          [routerLink]="['../', 'list']"
          color="primary"
          mat-flat-button
        >
          Volver
        </button>
      </div>
    </mat-card>
  </form>
</div>
